<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

  <header>
    <nav>
    </nav>
  </header>

  <div class="container">
    <h1>Vets who specialize in <%= @specialty %></h1>

    <table class="vets-table">
      <tr>
        <th>Name</th>
        <th>Specialty</th>
      </tr>

      <% @vets.each do |vet| %>
        <tr>
          <td><%= vet.name %></td>
          <td><%= vet.specialty %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Back', vets_path %>
  </div>

</body>
</html>
